#### ID 10028

```Find the number of wines each taster tasted within the variation. Output the tester's name, variety, and the number of tastings. Order records by taster name and the variety in ascending order and by the number of tasting in descending order.```

In [ ]:
%%sql
SELECT DISTINCT taster_name, variety, COUNT(id) AS n_tastings
FROM winemag_p2
WHERE taster_name IS NOT NULL
GROUP BY taster_name, variety
ORDER BY taster_name, variety, n_tastings DESC

In [ ]:
df = winemag_p2

df.query('~taster_name.isnull()').groupby(['taster_name', 'variety'], as_index=False).agg(
    n_tastings=('id', 'count')).drop_duplicates(subset=['taster_name', 'variety']).sort_values(
    ['taster_name', 'variety', 'n_tastings'], ascending=[True, True, False])