#### ID 2100

```Given the education levels and salaries of a group of individuals, find what is the average salary for each level of education.```

In [ ]:
%%sql
SELECT education, AVG(salary) AS avg_salary
FROM google_salaries
GROUP BY education

In [ ]:
df = google_salaries

df.groupby('education', as_index=False).agg(avg_salary=('salary', 'mean'))

#### ID 2107

```Write a query to return all Customers (cust_id) who are violating primary key constraints in the Customer Dimension (dim_customer) i.e. those Customers who are present more than once in the Customer Dimension. For example if cust_id 'C123' is present thrice then the query should return 'C123' | '3' as output.```

In [ ]:
%%sql
SELECT cust_id, count(cust_id) AS n_occurences
FROM dim_customer
GROUP BY cust_id
HAVING count(cust_id) >= 2

In [ ]:
df = dim_customer

df.groupby('cust_id', as_index=False).agg(n_occurences=('cust_id', 'count')).query('n_occurences >= 2')

#### ID 2109

```Write a query to get a list of products that have not had any sales. Output the ID and market name of these products.```

In [ ]:
%%sql
SELECT dp.prod_sku_id, dp.market_name
FROM dim_product AS dp
         LEFT JOIN fct_customer_sales AS cs ON dp.prod_sku_id = cs.prod_sku_id
WHERE cs.prod_sku_id IS NULL

In [ ]:
df = pd.merge(dim_product, fct_customer_sales, how='left', left_on='prod_sku_id', right_on='prod_sku_id').query(
    'cust_id.isnull()')[['prod_sku_id', 'market_name']]