#### ID 2127

```Calculate the sales revenue for the year 2021.```

In [ ]:
%%sql
SELECT SUM(order_total) AS revenue
FROM amazon_sales
WHERE DATE_TRUNC('year', order_date) = '2021-01-01'

In [ ]:
df = amazon_sales

df['year'] = df['order_date'].dt.year

df.query('year == 2021')['order_total'].sum()