#### ID 9685

```Find companies that have at least 2 Chinese speaking users.```

In [ ]:
%%sql
SELECT company_id
FROM playbook_users
WHERE language = 'chinese'
GROUP BY company_id
HAVING COUNT(*) >= 2

In [ ]:
df = playbook_users

df[df['language'] == 'chinese'].groupby('company_id', as_index=False).agg(cnt=('user_id', 'count')).query('cnt >= 2')['company_id']

#### ID 9687

```Find the details of oscar winners between 2001 and 2009.```

In [ ]:
%%sql
SELECT *
FROM oscar_nominees
WHERE year BETWEEN 2001 AND 2009
  AND winner = TRUE

In [ ]:
df = oscar_nominees

df[df['year'].between(2001, 2009) & df['winner'] == True]

#### ID 9689

```Find all inspection details made for facilities owned by 'GLASSELL COFFEE SHOP LLC'.```

In [ ]:
%%sql
SELECT *
FROM los_angeles_restaurant_health_inspections
WHERE owner_name ~ 'GLASSELL COFFEE SHOP LLC'

In [ ]:
df = los_angeles_restaurant_health_inspections

df[df['owner_name'].str.contains('GLASSELL COFFEE SHOP LLC')]

#### ID 9690

```Find all routine inspections where high-risks issues were found.```

In [ ]:
%%sql
SELECT *
FROM los_angeles_restaurant_health_inspections
WHERE service_description = 'ROUTINE INSPECTION'
  AND LOWER(pe_description) ~ 'high risk'

In [ ]:
df = los_angeles_restaurant_health_inspections

df[(df['service_description'] == 'ROUTINE INSPECTION') & (df['pe_description'].str.contains('HIGH RISK'))]

#### ID 9691

```Find all facilities with the zip code 90049, 90034, or 90045.```

In [ ]:
%%sql
SELECT DISTINCT facility_name
FROM los_angeles_restaurant_health_inspections
WHERE facility_zip IN ('90049', '90034', '90045')

In [ ]:
df = los_angeles_restaurant_health_inspections

df[df['facility_zip'].isin(["90049", "90034", "90045"])]['facility_name'].drop_duplicates()

#### ID 9693

```Find the average score for grades A, B, and C. Output the results along with the corresponding grade (ex: 'A', avg(score)).```

In [ ]:
%%sql
SELECT grade, AVG(score) AS avg_score
FROM los_angeles_restaurant_health_inspections
GROUP BY grade

In [ ]:
df = los_angeles_restaurant_health_inspections

df.groupby('grade', as_index=False).agg(avg_score=('score', 'mean'))

#### ID 9696

```Check if record_id is unique for every row. Output the total record ids and total unique record ids for comparison.```

In [ ]:
%%sql
SELECT COUNT(record_id) AS c1, COUNT(DISTINCT record_id) AS c2
FROM los_angeles_restaurant_health_inspections

In [ ]:
df = los_angeles_restaurant_health_inspections

pd.DataFrame({'c1': [df['record_id'].count()], 'c2': [df['record_id'].nunique()]})

#### ID 9697

```Find the owner_name and the pe_description of facilities owned by 'BAKERY' where low-risk cases have been reported.```

In [ ]:
%%sql
SELECT DISTINCT owner_name, pe_description
FROM los_angeles_restaurant_health_inspections
WHERE LOWER(pe_description) ~ 'low risk'
  AND LOWER(owner_name) ~ 'bakery'

In [ ]:
df = los_angeles_restaurant_health_inspections

df[df['owner_name'].str.contains('BAKERY') & df['pe_description'].str.contains('LOW RISK')][
    ['owner_name', 'pe_description']].drop_duplicates()