#### ID 9691

```Find all facilities with the zip code 90049, 90034, or 90045.```

In [ ]:
%%sql
SELECT DISTINCT facility_name
FROM los_angeles_restaurant_health_inspections
WHERE facility_zip IN ('90049', '90034', '90045')

In [ ]:
df = los_angeles_restaurant_health_inspections

df[df['facility_zip'].isin(["90049", "90034", "90045"])]['facility_name'].drop_duplicates()

#### ID 9693

```Find the average score for grades A, B, and C. Output the results along with the corresponding grade (ex: 'A', avg(score)).```

In [ ]:
%%sql
SELECT grade, AVG(score) AS avg_score
FROM los_angeles_restaurant_health_inspections
GROUP BY grade

In [ ]:
df = los_angeles_restaurant_health_inspections

df.groupby('grade', as_index=False).agg(avg_score=('score', 'mean'))

#### ID 9696

```Check if record_id is unique for every row. Output the total record ids and total unique record ids for comparison.```

In [ ]:
%%sql
SELECT COUNT(record_id) AS c1, COUNT(DISTINCT record_id) AS c2
FROM los_angeles_restaurant_health_inspections

In [ ]:
df = los_angeles_restaurant_health_inspections

pd.DataFrame({'c1': [df['record_id'].count()], 'c2': [df['record_id'].nunique()]})

#### ID 9697

```Find the owner_name and the pe_description of facilities owned by 'BAKERY' where low-risk cases have been reported.```

In [ ]:
%%sql
SELECT DISTINCT owner_name, pe_description
FROM los_angeles_restaurant_health_inspections
WHERE LOWER(pe_description) ~ 'low risk'
  AND LOWER(owner_name) ~ 'bakery'

In [ ]:
df = los_angeles_restaurant_health_inspections

df[df['owner_name'].str.contains('BAKERY') & df['pe_description'].str.contains('LOW RISK')][
    ['owner_name', 'pe_description']].drop_duplicates()