#### ID 9765

```List all interactions of user with id 4 on either day 0 or 2.```

In [ ]:
%%sql
SELECT day, user1, user2
FROM facebook_user_interactions
WHERE day IN (0, 2)
  AND (user1 = 4 OR user2 = 4)

In [ ]:
df = facebook_user_interactions

df.query('(user1 == 4 | user2 == 4) & (day.isin([0, 2]))')