#### ID 9829

```Find the position of the lower case letter 'a' in the first name of the worker 'Amitah'.```

In [ ]:
%%sql
SELECT POSITION('a' IN first_name)
FROM worker
WHERE first_name = 'Amitah'

In [ ]:
df = worker

df.query('first_name == "Amitah"')['first_name'].str.find('a')