#### ID 9951

```Find the number of athletes who participated in the Olympics that hosted in European cities. European cities: Berlin, Athina, Lillehammer, London, Albertville and Paris.```

In [ ]:
%%sql
SELECT COUNT(DISTINCT name) AS n_athletes
FROM olympics_athletes_events
WHERE city IN ('Berlin', 'Athina', 'Lillehammer', 'London', 'Albertville', 'Paris')

In [ ]:
df = olympics_athletes_events

df[df['city'].isin(['Berlin', 'Athina', 'Lillehammer', 'London', 'Paris', 'Albertville'])]['name'].nunique()